<!DOCTYPE html>
<html>
<head>
  <title>OJSimpson</title>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Jquery -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OJSimpson</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Debate</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Legal <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Trials</a></li>
            <li><a href="#">Lawyers</a></li>
            <li><a href="#">Controversy</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Evidence</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container"> 

<div class="row">
  <div class="col-md-9">
    <div class="thumbnail">
      <div class="caption">
          <h3>O.J. Simpson</h3>
          <p>Orenthal James "O. J." Simpson born July 9, 1947, nicknamed The Juice, is a former National Football League running back, broadcaster, actor, advertising spokesman, and convicted armed robber and kidnapper. Once a popular figure with the U.S. public, he is most well known today for his trial and acquittal for the murders of his former wife Nicole Brown Simpson and her friend Ron Goldman.</p>
          <p>Simpson attended the University of Southern California, where he played football for the USC Trojans and won the Heisman Trophy in 1968. He played professionally in the NFL as a running back for 11 seasons, primarily with the Buffalo Bills from 1969 to 1977. He also played for the San Francisco 49ers from 1978 to 1979. In 1973, he became the first NFL player to rush for more than 2,000 yards in a season. He holds the record for the single season yards-per-game average, which stands at 143.1. He is the only player to ever rush for over 2,000 yards in the 14-game regular season NFL format.</p>
          <p>Simpson was inducted into the College Football Hall of Fame in 1983 and the Pro Football Hall of Fame in 1985. After retiring from football, he began new careers in acting and football broadcasting.</p>
          <p>In 1994, Simpson was arrested and charged with the murders of Nicole Brown Simpson and Ron Goldman. He was acquitted after a lengthy and internationally publicized trial. The families of the victims subsequently filed a civil suit against him, and in 1997 a civil court awarded a $33.5 million judgment against Simpson for the victims' wrongful deaths.</p>
          <p>In 2007, Simpson was arrested in Las Vegas, Nevada, and charged with the felonies of armed robbery and kidnapping. In 2008, he was convicted and sentenced to 33 years imprisonment, with a minimum of nine years without parole. He served his sentence at the Lovelock Correctional Center in Lovelock, Nevada. On July 20, 2017, Simpson was granted parole. He was eligible for release from prison on October 1, 2017, and was released shortly after midnight on that date.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/O.J._Simpson_1990_%C2%B7_DN-ST-91-03444_crop.JPEG/220px-O.J._Simpson_1990_%C2%B7_DN-ST-91-03444_crop.JPEG">
      <div class="caption">
        <a href="https://www.netflix.com/co-en/title/80083977" target="_blank">O.J. NetFlix</a>
      </div>
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Nicole_brown_simpson.jpg/190px-Nicole_brown_simpson.jpg">
      <div class="caption">
      <a href="https://en.wikipedia.org/wiki/Nicole_Brown_Simpson" target="_blank">Nicole Wikipedia</a>
      </div>
    </div>
  </div>




</div>








</div>
</body>
</html>