<!DOCTYPE html>
<html>
<head>
  <title></title>
<title>OJSimpson</title>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Jquery -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="thumbnail">
        <div class="caption">
          <h3>Robert Shapiro</h3>
          <p>Robert Leslie Shapiro, born September 2, 1942 is an American civil litigator, co-founder of RightCounsel.com, and senior partner in the Los Angeles-based law firm Glaser Weil Fink Jacobs Howard Avchen & Shapiro, LLP. He is most recognized for being part of the "dream team" legal team that successfully defended O. J. Simpson in 1995, from the charges that he murdered his ex-wife, Nicole Brown Simpson, and her friend, Ron Goldman, in 1994. Shortly after the O. J. Simpson murder case, he steered his practice away from criminal defense toward civil litigation. He also cofounded LegalZoom and RightCounsel.com and appears in their television commercials.</p>
          <h3>Johnnie Cochran</h3>
          <p>Johnnie L. Cochran Jr. October 2, 1937 – March 29, 2005, was an American lawyer best known for his leadership role in the defense and criminal acquittal of O.J. Simpson for the murder of his former wife, Nicole Brown Simpson and her friend, Ron Goldman.

          Cochran also represented Sean Combs during his trial on gun and bribery charges, Michael Jackson, Tupac Shakur, Todd Bridges, football player Jim Brown, Snoop Dogg, former heavyweight champion Riddick Bowe, 1992 Los Angeles riot beating victim Reginald Oliver Denny, and inmate and activist Geronimo Pratt. He represented athlete Marion Jones when she faced charges of doping during her high school track career. Cochran was known for his skill in the courtroom and his prominence as an early advocate for victims of police brutality.</p>
          <h3>Robert George Kardashian</h3>
          <p>Robert George Kardashian. February 22, 1944 – September 30, 2003, was an American attorney and businessman. He gained national recognition as O. J. Simpson's friend and defense attorney during Simpson's 1995 murder trial. He had four children with his first wife, Kris Kardashian, née Houghton, later Jenner, Kourtney, Kim, Khloé, and Rob, who appear on their family reality television series, Keeping Up with the Kardashians, and its spinoffs.</p>
          <h3>Barry Scheck</h3>
          <p>Barry Charles Scheck, born September 19, 1949 is an American lawyer. He received national media attention while serving on O.J. Simpson's defense team, collectively dubbed the "Dream Team", helping to win an acquittal in the highly publicized murder case. Scheck is the director of the Innocence Project and a professor at Yeshiva University's Benjamin N. Cardozo School of Law in New York City.</p>
          <h3>F. Lee Bailey</h3>
          <p>Francis Lee Bailey, Jr. born June 10, 1933, is an American former attorney. For most of his career, he was licensed in Massachusetts and Florida, where he was disbarred in 2001. He was a criminal defense attorney who served as the lawyer in the re-trial of osteopathic physician Sam Sheppard. He was also the supervisory attorney over attorney Mark J. Kadish in the court martial of Captain Ernest Medina for the My Lai Massacre, among other high-profile trials, and was one of the lawyers for the defense in the O. J. Simpson murder case. He has also had a number of visible defeats, legal controversies, and personal trouble with the law, and was disbarred in Massachusetts and Florida for misconduct while defending his client Claude DuBoc. In 2014, he was denied a law license by the Maine State Bar Association and the Maine Supreme Judicial Court.</p>
          <h3>Alan Morton Dershowitz</h3>
          <p>Alan Morton Dershowitz, born September 1, 1938 is an American lawyer and author. He is a scholar of United States constitutional law and criminal law, and a leading defender of civil liberties. He spent most of his career at Harvard Law School where in 1967, at the age of 28, he became the youngest full professor of law in its history. He held the Felix Frankfurter professorship there from 1993 until his retirement in December 2013. He is now a regular CNN and Fox News contributor and political analyst.

          Dershowitz was involved in several legal cases and is a commentator on the Arab–Israeli conflict. As a criminal appellate lawyer, he won 13 of the 15 murder and attempted murder cases he handled, and has represented a series of celebrity clients, including Mike Tyson, Patty Hearst, and Jim Bakker. His most notable cases include his role in 1984 in overturning the conviction of Claus von Bülow for the attempted murder of his wife, Sunny, and as the appellate adviser for the defense in the O. J. Simpson murder trial in 1995.</p>
        </div>
      </div>
    </div>
  </div> 

</div>
</body>
</html>