<h1>Season 1 Episode 1</h1>
<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzA4MTAxMjc0M15BMl5BanBnXkFtZTgwNTU3MTI5NzE@._V1_.jpg">
<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTUwNjk4MTY2MV5BMl5BanBnXkFtZTgwMzQzNDA5NzE@._V1_SX1503_CR0,0,1503,999_AL_.jpg">
<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ4OTQ4MDcwN15BMl5BanBnXkFtZTgwODc3NDA3NzE@._V1_SY1000_CR0,0,1498,1000_AL_.jpg">
<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjM5MjE1MTY4NV5BMl5BanBnXkFtZTgwNzc3NDA3NzE@._V1_SY1000_CR0,0,1498,1000_AL_.jpg">
<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTk2NzcxNzUzN15BMl5BanBnXkFtZTgwNjc3NDA3NzE@._V1_SY1000_CR0,0,1498,1000_AL_.jpg">
<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzc2NDI4MjcxM15BMl5BanBnXkFtZTgwMTc2MzA3NzE@._V1_SY1000_CR0,0,1502,1000_AL_.jpg">
<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTkxNDI2NTQ5NV5BMl5BanBnXkFtZTgwOTM3NzM5NzE@._V1_.jpg">

<p>The murders of Nicole Brown Simpson and Ron Goldman lead the LAPD to the home of O.J. Simpson.</p>
<h3>Names to Remember</h3>
<ul>
  <li>Cristopher Darden</li>
  <li>Judge Lance Ito</li>
  <li>Bill Hodgman</li>
  <li>O.J. Simpson</li>
  <li>Gil Garcetti</li>
  <li>F. Lee Bailey</li>
  <li>Marcia Clark</li>
  <li>Robert Kardashian</li>
  <li>Robert Shapiro</li>
  <li>Johnnie Cochran</li>
  <li>Detective Tom Lange</li>
  <li>Kris Jenner Kardashian</li>
  <li>Denise Brown</li>
  <li>Faye Resnick</li>
  <li>Lou Brown</li>
</ul>

<h1>Real News</h1>
<h3>Tom Lange talks to Greta From Fox News</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YwkPIe7fn30" frameborder="0" allowfullscreen></iframe>